@import "tailwindcss";

:root {
  --background: oklch(0.2427 0.0063 314.7);
  --card-background: oklch(0.2887 0.0077 308.16);
  --foreground: oklch(0.9905 0.0026 106.45);
}

@theme inline {
  /* Fonts */
  --font-sans: var(--font-rubik-sans);
  --font-mono: var(--font-geist-mono);

  /* Colors */
  --color-background: var(--background);
  --color-card-background: var(--card-background);
  --color-foreground: var(--foreground);
  --color-border: oklch(0.211 0.0042 308.24);
  --color-accent: #ff6188;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik-sans), Arial, Helvetica, sans-serif;
}
